<footer>
  <small>
    This site is maintained by <a href="https://github.com/haddersbadders">Hadrian Cawthorne</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>. Eleventy V2.0.1
  </small>
</footer>
