---
title: Author archive
layout: layouts/base.njk
pagination:
  data: collections.authors
  size: 1
  alias: author
permalink: "authors/{{ author | slug }}/"
renderData:
  author: "{{ author }}"
  title: "Posts by {{ author }}"
  metaDescription: "An archive of all posts by the author: {{ author }}."
---

<h1 class="centre">{{ renderData.title | safe }}</h1>

<section>

	{% for post in collections.authors[author] | reverse %}
		<article{% if post.page.url == url %} data-current="current item"{% endif %}>
    <div class="article-inner">
			<h3>
				<a href="{{ post.page.url | url }}">
					{% if post.title %}
						{{ post.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
      {% if post.coverImage %}
        <figure class="featured_image">
          <img src="{{ post.coverImage }}" alt="{{ post.data.alt }}">
        </figure>
      {% endif %}
      {% if post.slug %}
        <p class="slug">{{ post.slug }} <br/> <a href="{{ post.url | url }}">Read More</a></p>
      {% endif %}
			<p>
				<time datetime="{{ post.date | machineDate }}">
					<small>{% include 'snippets/authoricon.njk' %} {{ post.author }} &nbsp;{% include 'snippets/dateicon.njk' %} {{ post.date | readableDate }} </small>
				</time>
			</p>
			{% if post.tags %}
				<p>
					{% for tag in post.tags %}
		  			{%- if tag != "post" -%}
		  				{% set tagUrl %}/tags/{{ tag }}/{% endset %}
		  			<a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
		  			{%- endif -%}
					{% endfor %}
				</p>
			{% endif %}
    </div>
		</article>
	{% endfor %}
  <nav>
    <a href="{{ '/authors/' | url }}">← Authors index</a>
  </nav>
</section>
