<nav class="w3-sidebar w3-collapse w3-black" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-large w3-padding w3-hover-sand" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
    </div>
    <div class="w3-container brand w3-border-bottom w3-border-grey">
      <a href="{{ site.url }}" class="w3-black"><h1>{{ site.name }}</h1></a>
      <p>{{ site.tagline }}</p> 
    </div>
    <div class="w3-bar-block">
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-white w3-button w3-hover-sand"></i>Home</a> 


<a href="/privacy/" class="w3-bar-item w3-button w3-padding w3-text-white w3-button w3-hover-sand">Site Privacy</a> 



<p class="nav-heading w3-padding "><strong>Socials etc</strong> <i class="fa fa-arrow-circle-o-down"> </i></p>
<a href="https://github.com/haddersbadders" class="w3-bar-item w3-button w3-padding w3-text-white w3-button w3-hover-sand"><i class="fa fa-github"> </i>&nbsp;Github</a>
<a href="https://www.linkedin.com/in/hadrian-cawthorne-a57336254/" class="w3-bar-item w3-button w3-padding w3-text-white w3-button w3-hover-sand"><i class="fa fa-linkedin-square"> </i> LinkedIn</a>

</div>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
