{% extends "layouts/base.njk" %} 

{% block content %}
<article class="w3-container">

  {% if coverImage %}
<style>
.bg {
  background: url({{ coverImage }}) no-repeat center center/cover;
  background-color: #474747';
  background-blend-mode: hard-light;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -16px;
  position: relative;
      background-attachment: fixed;
}

header h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  /* line-height: 20rem; */
  font-size: 4em;
  position:relative;
  z-index: 2;
}
</style>
{% endif %}
    <header class="w3-container bg">
      <div class="overlay"></div>
  <h1>{{ title }}</h1>

</header>
<main>
{{ content | safe }}
  </main>
  </article>
{% endblock %}
